@media(max-width:600px){
    .box{
       display: block;
       margin-top: 150px;
       
    }
    .main-text{
        height:380px;
        width: 330px;
        border-bottom: 10px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        
    }
    .main-img{
        height: 300px;
        width: 330px;
        background-image: url("image-product-mobile.jpg");
        background-size: cover;
        background-position: center;
        
        border-top: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    .heading-text{
        margin-right: 0px;
    }
    .description{
        margin-right: 0px;
    }
}